#container {
    margin: auto;
    width: 700px;
    height: 700px;
}

#grid {
    display: table;
    margin: auto;
}

.row {
    /*display: table-row;*/
    line-height: 0;
}
  
.col {
    border: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0px;
    display: inline-block;
    margin-left: -1px;
    margin-top: -1px;
}

.coloured {
    background-color: grey;
}
